h1 {
    color: rgb(225, 234, 57);
}
h2{
    color:rgb(223, 216, 40) ;
}
h2 a{
 text-decoration: none;
 color:rgb(249,255,137);
}
h2 a:hover{
    color: rgb(223, 216, 40);
}

.abouth{
    padding-top: 2em;
}
p{
    color: rgb(225, 234, 57);
    white-space: pre-wrap;

}
.img1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-radius: 2pt;
}

.Ish{
 color: rgb(225, 234, 57);
 text-decoration: none;
 padding-top: 2em;
 display: block;
margin: auto;
margin-top: 0em;

}
* {
    text-align: center;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.topbar{
background-color: rgb(7, 87, 84);
margin: auto;
padding: 2em;
text-align: right;
overflow: hidden;
}

.topbar a {
    float: right;
    color: rgb(98, 161, 90);
    padding:  16px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 30px;
}

.topbar a:hover{
    background-color: rgb(98, 161, 90);
    color: rgb(7, 87, 84);
    border-radius: 12px;
}

.index {
    background-color: rgb(17, 24, 16);
}